{% extends 'base.html' %}

{% block head %}
<title>Ecommerce+</title>
{% endblock %}

{% block body %}

<main class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row justify-content-evenly">
            <h2>Shopping Cart</h2>                        
            <ol>
                {% for item in shopping_cart %}
                <li>{{ item }}</li>
                {% print(item) %}
                {% endfor %}
            </ol>
        </div>
      </div>
    </div>
</main>


{% endblock %}