{% extends 'base.html' %}

{% block head %}
<title>Ecommerce+</title>
{% endblock %}

{% block body %}

<main class="container-fluid main-cart-container">
  <h2>Shopping Cart</h2>
  <div class="shopping-cart-list">
    <ol>
      {% for item in shopping_cart %}
      <li>
        <div class="product-box-flex">
          <div class="product-box-description">
            <div class="product-name" id="item_name">
              Item: {{ item.product_name }}
            </div>
            <div class="product-price" id="product_price">
              Price: {{ item.product_price }}
            </div>
          </div>
          <div class="product-box-quantity">
            <div class="product-quantity">
              <div class="quantity-attribute-name">
                Quantity: 
              </div>
              <div class="quantity-dynamic">
                <input class="quantity" type="number" name="quantity" id="quantity" min="1" max="99" value="{{ item.product_quantity }}">
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
  </ol>
  </div>                      
</main>


{% endblock %}